Source: demu
Section: admin
Priority: optional
Build-Depends: debhelper (>= 11),
               dpdk-dev (>= 17.11)
Maintainer: Ryousei Takano <takano-ryousei@aist.go.jp>, Wongsatorn Thongthavorn <circle_ng@hotmail.com>

Package: demu
Architecture: any
Depends: dpdk (>= 17.11)
Description: DEMU is a software-based network emulator implemented as a DPDK application. Conventional software-based emulator such as NetEm and dummynet have problems on the throughput of packet forwarding and the accuracy of emulation. DEMU addresses this problem by using a high-performance user-land network framework, i.e., DPDK, and it can emulate latencies on the order of 10ms for short-packet traffic at the 10GbE line rate with high accuracy. 