#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export RTE_SDK=/usr/share/dpdk
DISTRIBUTION = $(sed -n "s/^VERSION_CODENAME=//p" /etc/os-release)
VERSION = 0.1.0
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)0
TARBALL = demu-$(VERSION).tar.gz

%:
	dh $@

override_dh_auto_clean:
override_dh_auto_build:
override_dh_auto_test:
override_dh_auto_install:
	make
	mkdir -p debian/demu/usr/bin/
	cp build/demu debian/demu/usr/bin/demu
	cp demu-setup debian/demu/usr/bin/demu-setup
	cp demu-cleanup debian/demu/usr/bin/demu-cleanup	

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)
